@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3> @ViewData["Message"]</h3>


<p>Estudante @ViewData["Estudante"]</p>

<p>Area de informação adicional.</p>

<adress>
    <strong>Mais informações</strong><a href ="https://ipbro.org.br"> Site Igreja Presbiteriana RO</a>
</adress>


<p>@ViewData["email"]</p>