@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Rua Noeli de Oliveira<br />
    N Cidade, RJ 28894-490<br />
    <abbr title="Phone">Fone:</abbr>
    22 99854-8262
</address>

<address>
    <strong>Suporte:</strong> <a href="mailto:Support.Ganstec@ganstec.com">Support.Ganstec@ganstec.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing.Ganstec@ganstec.com">Marketing.Ganstec@ganstec.com</a>
</address>
